    body {
      font-family: Arial, sans-serif;
      background: rgb(44, 36, 36);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .age-calculator {
      background: rgb(88, 46, 31);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      max-width: 400px;
      width: 100%;
    }

    .age-calculator h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #fffbfb;
    }

    .inputs {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    .inputs input {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #000000;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #000911;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background: rgb(78, 77, 77);
    }

    .result {
      margin-top: 20px;
      font-size: 18px;
      color: white;
      text-align: center;
    }

    .error {
      color: black;
      text-align: center;
    }